<div style="text-align: left; ">
    <div class="container">
        <div class="header clearfix" style="border-bottom: 1px solid #f1eaea">
            <h3 class="text-muted" style="text-align: center; font-family: inherit;
            font-weight: 500;
            font-size: 20px;
            margin-top: 10px;
            font-style: italic; color: black !important;">Proceso Pasteurizacion Leche</h3>
        </div>
        <div class="imagen" style="display: -moz-box; position: relative; width: 50%; height: 50%; margin-bottom: 10px; margin-right: 100px; float: right;">
            <img src="../../assets/mp4.gif" id="tanque" style="width:100%; height: 100%;">
        </div>

        <div class="referencia" style=" float:left; height: 50%; display: inline-block;">
            <h4>Ingrese los datos</h4>

            <input type="number" id="mayor" placeholder="Referencia" [formControl]="mayor" required name="mayor">
            <div class="alert alert-danger" style="width: 5%;" *ngIf="mayor.invalid && (mayor.dirty || mayor.touched)">
                <div *ngIf="mayor.errors.required">
                    Intervalo mayor requerido
                </div>

            </div>
            <hr>
            <input type="number" id="periodoMuestreo" placeholder="Periodo Muestreo" [formControl]="periodoMuestreo" required name="¨Periodo Muestreo">
            <div class="alert alert-danger" style="width: 5%;" *ngIf="mayor.invalid && (periodoMuestreo.dirty || periodoMuestreo.touched)">
                <div *ngIf="periodoMuestreo.errors.required">
                    Promedio Muestreo
                </div>

            </div>
            <hr>
            <input type="number" id="Voltaje" placeholder="Voltaje" [formControl]="voltaje" required name="Voltaje">
            <div class="alert alert-danger" style="width: 5%;" *ngIf="mayor.invalid && (voltaje.dirty || voltaje.touched)">
                <div *ngIf="voltaje.errors.required">
                    Voltaje
                </div>
            </div>
            <hr>
            <button id="boton"  value="Encender" class="btn btn-success" (click)="encender()" style="position: relative; margin-left: 5px;" [disabled]="mayor.invalid || voltaje.invalid ||periodoMuestreo.invalid">Encender/Pausar</button>
           <button id="boton"  value="Encender" class="btn btn-success" (click)="encenderV2()" style="position: relative; margin-left: 5px;" [disabled]="mayor.invalid || voltaje.invalid ||periodoMuestreo.invalid">EncenderV2/Pausar</button>

            <button  value="Encender" class="btn btn-warning" (click)="Apagar()" style="position: relative; margin-left: 5px;">Apagar</button>
            <hr>

            <div class="resultado">
                <input type="text" name="resultado" id="resultado" placeholder="resultado" [formControl]="resultado" style="margin-left: 100px; margin-top: 15px;">
            </div>

            <div class="botonResultado">
                <button class="btn btn-danger" (click)="verGrafica()" style="margin-left: 128px; margin-top: 10px;" *ngIf = "mostrarGrafica">Ver
                temperatura</button>
            </div>
            <hr>
            <div style= "float: left;"><h5>Temperatura</h5></div>
        </div>
            <div id="grafica" style="display: none;" *ngIf = "mostrarGrafica" class="container" style="color: black;">
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
            </div>
            <div style= "float: right;"><h5>Tiempo</h5></div>
    </div>
